<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
    {% block head %}
        
    {% endblock head %}
    <style>
        nav a{
            border-left: 1px solid;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <h3>Ivanov Artiom Store</h3>
        <div>
            {% if not "username" in session %}
                <a href="/login">login</a>
                <a href="/cart">cart</a>
            {% else %}
                {% if session.get("userType") == "admin" %}
                    <a href="/admin">admin pannel</a>
                {% endif %}
                <a href="/cart">cart</a>
                <a href="/logout">logout</a>
            {% endif %}
            
        </div>
    </nav>
    {% block body %}
        
    {% endblock body %}
    <footer>
        
    </footer>
</body>
</html>